<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Welcome</a>
      <a class="nav-item nav-link" routerLink="/new">New product</a>
      <a class="nav-item nav-link" routerLink="/sales">Sales</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<div class="potato-app">
  <div class="container">
      <div class="row">
          <div class="col">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
